<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.nrcynet.dao.mapper.EmployeeMapper">
	<select id="selectAll" resultType="top.nrcynet.dao.bean.Employee">
		select * from test.employee
	</select>
</mapper>